/* font-family: 'Roboto', sans-serif; */

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 48px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h4,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: cornsilk;
}
button {
  background-color: #3882f6;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 20px;
  font-family: "Roboto", sans-serif;
  border: white;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  margin: 0px;
}
.header-logo {
  margin-left: 20px;
  color: antiquewhite;
}
.header-links {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.hero {
  display: flex;
  background-color: #1f2937;
  padding: 40px 60px;
  color: aliceblue;
  align-items: center;
}
.desc-txt {
  padding: 10px;
}
.laptop-pic {
  height: 250px;
}
.images {
  text-align: center;
  font-size: 30px;
  padding: 50px;
}
.img-selection {
  display: flex;
  justify-content: space-between;
  margin: 3px 10px;
}
.img-container {
  padding: 10px;
}
.tiny-image {
  height: 150px;
  width: 150px;
  border: 2px solid #3882f6;
  border-radius: 10px;
}
.quote {
  background-color: #e5e7eb;
  padding: 60px;
}
.quote-txt {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  padding: 20px 60px;
}

.author {
  font-weight: 600;
  text-align: right;
}
.call-to-action {
  padding: 60px 80px;
}
.cta-banner {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 30px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cta-highlight {
  color: aliceblue;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
.cta-txt {
  color: aliceblue;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.cta-btn{
    border: #e5e7eb 1px solid;
    border-radius: 10px;
}

.footer{
    margin: 0px;
    background-color: #1f2937;
    text-align: center;
    color:aliceblue;
}